Repository pmahajan3105/movieapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: clean up debug UI and improve fallback movie card handling
  src/app/api/recommendations/precomputed/route.ts
  src/components/dashboard/PrecomputedRecommendations.tsx
  src/components/movies/MovieGridCard.tsx
Due: prettier --write, eslint --fix

Chore: Allow warnings in CI by making lint, type-check, and test steps always succeed
  .github/workflows/ci.yml
Due: none

chore: exclude supabase/functions from tsconfig to prevent Deno import errors in Next.js build
  tsconfig.json
Due: prettier --write

Fix: remove decorator, type export, and null/undefined issues in fallback-recommendation-engine; ensure groupRequestsByType is safe
  src/components/dashboard/QuickRatingWidget.tsx
  src/lib/ai/fallback-recommendation-engine.ts
  src/lib/utils/url-helper.ts
Due: prettier --write, eslint --fix

Batch-fix: All React Hook dependency warnings and image tag migrations complete
  src/app/api/ratings/route.ts
  src/app/api/recommendations/precomputed/route.ts
  src/app/api/user/ai-profile/route.ts
  src/app/api/user/ai-settings/route.ts
  src/app/auth/login/page.tsx
  src/app/dashboard/account/page.tsx
  src/app/dashboard/insights/page.tsx
  src/app/dashboard/movie/[id]/page.tsx
  src/app/dashboard/settings/page.tsx
  src/app/dashboard/watched/page.tsx
  src/app/onboarding/page.tsx
  src/app/search/page.tsx
  src/app/watchlist/page.tsx
  src/components/ai/PreferenceEditor.tsx
  src/components/dashboard/AILearningDashboard.tsx
  src/components/dashboard/DashboardContent.tsx
  src/components/dashboard/HyperPersonalizedSection.tsx
  src/components/dashboard/PrecomputedRecommendations.tsx
  src/components/dashboard/QuickRatingWidget.tsx
  src/components/layout/NavigationHeader.tsx
  src/components/profile/EditableTasteProfile.tsx
  src/components/search/FilterPanel.tsx
  src/components/search/SearchInterface.tsx
  src/components/ui/OfflineIndicator.tsx
  src/components/ui/PullToRefresh.tsx
  src/hooks/useAISettings.ts
  src/hooks/useHyperPersonalizedRecommendations.ts
  src/hooks/useRetryOperation.ts
  src/hooks/useWatchlistPage.ts
  src/lib/ai/explanation-service.ts
  src/lib/ai/optimized-ai-orchestrator.ts
  src/lib/ai/optimized-smart-recommender.ts
  src/lib/ai/performance-monitor.ts
  src/lib/ai/production-reliability-manager.ts
  src/lib/ai/progressive-analysis-engine.ts
  src/lib/ai/query-intelligence-engine.ts
  src/lib/ai/reliability-orchestrator.ts
  src/lib/ai/service-circuit-breaker.ts
  supabase/migrations/20250704000000_enhance_simple_recommendations.sql
Due: prettier --write, eslint --fix

feat: add error boundaries for better error handling
  .husky/pre-commit
  src/app/dashboard/error.tsx
  src/app/error.tsx
  src/app/search/error.tsx
Due: prettier --write, eslint --fix

perf: simplify recommendation algorithm
  src/lib/ai/behavioral-analysis.ts
  src/lib/ai/hyper-personalized-engine.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: src/__tests__/lib/ai/smart-recommender-v2.test.ts) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{json,css,md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
